@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "Red Hat Text", sans-serif;
}


.outermost-container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
    "sidebar header header"
    "sidebar main main";
}

.outermost-container #sidebar{
    
    grid-area: sidebar;
    gap: 1rem;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 2fr 2fr 3fr;
    background: #1c92d2;

}

#sidebar,
span{
    color: #303030;
    font-weight: 800;
}


#sidebar > div:first-child{

    padding: 2rem;
    width: fit-content;
    display: flex;
    align-items: center;

}

#sidebar > div:first-child svg{

    margin-top: 0.3rem;
}


#sidebar ul{

    border: 1px solid green;
    /* display: grid; */
    justify-self: baseline;
    margin-left: 2rem;
}

#sidebar li{

    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: black;
    height:fit-content;
    margin-bottom: 0.5rem;
}

#sidebar svg{
    
    width: 1.2rem;
    height: 1.2rem;
    color:white;
}

#sidebar > div:first-child svg{
    width: 3rem;
    height: 3rem;
    color:white;
}

#sidebar span, h2{
    
    color: white;
}

#sidebar h2{
    
    font-size: 2rem;
}

.outermost-container #header{
    
    grid-area: header;
    display: grid;
    grid-template: 1fr 2fr/ 2fr repeat(3, 1fr) ;
    grid-template-areas: 
    "search search search profile"
    "greet greet menu menu";
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

#header div:first-child{
    
    grid-area: search;
}


.search-container{

    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    gap: 0.5rem;
    /* padding-top: 0.5rem; */
    align-items: center;

}

.search-container svg{
    
    width: 1.5rem;
    height: 1.5rem;
    
}

.search-container form{

    /* width: 70%;
    height: 100%; */
    display: flex;
    width:fit-content;
    align-items: center;

}

.search-container input[type = "search"]{

    border-radius: 1rem;
    border: 1px solid grey;
    /* width: 44rem; */
    width: 44rem;
    height: 2rem;
    background: #e1e7ef;
 
}

.search-container input[type = "search"]:focus{

    outline: 1px solid blue;
    padding: 0.5rem 1rem;
}


.profile-container ul{

    grid-area: profile;
    width: 80%;
    height: 100%;
    padding-top: 0.3rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
}


.profile-container ul li svg{
    
    width: 1.6rem;
    height: 1.6rem;
}

.profile-container ul li:last-child{

    margin: 0 auto;
    font-size: 1.3rem;
    font-weight: 800;
}

.image-container{

    background: rgb(184, 184, 3);
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    overflow: hidden;
}

.image-container img{
    width: 3rem;
    height: 3rem;
} 

.greetings-container{
    grid-area: greet;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    margin-left: 3rem;


}

.greetings-container .image-container{
    width: 6rem;
    height: 6rem;
    border-radius: 4rem;
}

.greetings-container .image-container img{
    
    width: 6rem;
    height: 6rem;
}

#text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#text-container p{
    font-size: 1.5rem;
}

#text-container p:last-child{
    
    font-size: 3rem;
}

.menu{
    
    grid-area: menu;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.menu button{
    width: 20%;
    height: 30%;
    border-radius: 2rem;
    background-color: #1c92d2;
    color:white;
    font-size: 1.2rem;
}


.outermost-container #main{
    
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;

}

#main .card-container{
    
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);    
    row-gap: 8rem;
}

#main .announce-trend-container{
    
    display: grid;
    grid-template-rows: 2fr 2fr;
}


